name: Install and Test MMCV
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
jobs:
  install-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        # Install mmcv-full, adjust the link to match the appropriate version of Python and PyTorch as needed
        pip install mmcv --find-links https://download.openmmlab.com/mmcv/dist/${{ matrix.python-version }}/torch1.8.0/cpu
    - name: Verify Installation
      run: |
        python -m pip list
        python -c "import mmcv; print('MMCV version:', mmcv.__version__)"
        python -c "import mmcv; print('MMCV installation path:', mmcv.__file__)"






